# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

server.py
.env
src/assets/Toyota_RAV4_LE_2019.fbx
src/assets/Toyota_RAV4_LE_2019.mtl
src/assets/Toyota_RAV4_LE_2019.obj
